.gallery {
  grid-gap: 16px;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
  list-style: none;
  margin: 30px auto;
  max-width: calc(100vw - 48px);
  padding: 0;
}
